.shape {
    padding: 10px;
    border-radius: 1em;
    height: 400px;
    width: 400px;
    margin: auto;
    background-color: #2f302f;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.button {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    background-color: #8bb158;
    color: white;
    border: solid black 0.5px;
    width: 90px;
    border-radius: 5px;
    height: 40px;
    outline: none;
}
